{% extends '::admin.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="hero-unit">
        <h1>Administration</h1>
        <p>Fais pas d'la merde Bobby, t'es dans l'administration là!</p>
        <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>
{% endblock %}
