# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
composer.phar

# Parameters
app/config/parameters.yml

# Assets
web/css/*
web/js/*


# Configuration files
app/config/parameters.ini

# IDE
nbproject
